<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
{{if .}}
    <main>
        <p><strong>variable names</strong> (identifiers) and <em>values</em>:</p>
        {{range $key, $val := .}}
            <p><strong>{{$key}}</strong></p>
            <ul>
                {{range $val}}
                    <li><em>{{.}}</em></li>
                {{end}}
            </ul>
        {{end}}
    </main>
{{end}}

<form action="/?fname=daimao" method="post">
    <input type="text" name="fname" placeholder="first name" autofocus autocomplete="false">
    <input type="submit" name="submit-btn" value="onda button">
</form>
</body>

</html>